.main{
    position: relative;
    height: 150px;
    width: 800px;
    margin: auto;
    border: 3px solid black;
}
.div1{
    position: absolute;
    top: 5px;
    left: 18px;
    height: 33px;
    width: 32%;
    border: 1px solid black;
    text-align: center;

}
.div2{
    background-color: white;
    position: absolute;
    top: 122px;
    left: 221px;
    height: 22px;
    width: 71%;
    border: 1px solid black;
    text-align: center;
}
.div3{
    background-color: white;
    position: absolute;
    top: 11px;
    left: 620px;
    height: 24px;
    width: 21%;
    border: 1px solid black;
    text-align: center;

}

  